<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Restaurant list</title>
</head>

<body>

  {{{body}}}

  <script src="/public/javascripts/bootstrap.js"></script>
</body>

</html>