<form action="/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
  <input type="text" placeholder="please input name" name="name" value="{{restaurant.name}}">
  <button type="submit">Save</button>
  <a href="/todos">Back</a>
</form>